@model List<Infrastructure.Data.Repositories.MealListItemVm>

<h2>Блюда</h2>
<a class="btn btn-secondary" href="/Dashboard">Назад</a>
<a class="btn btn-success mb-2" href="/Meals/Create">Создать блюдо</a>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Ккал</th>
            <th>Б / Ж / У</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var meal in Model)
        {
            <tr>
                <td>@meal.Name</td>
                <td>@meal.Calories</td>
                <td>@meal.Proteins / @meal.Fats / @meal.Carbs</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@meal.Id">Изменить</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@meal.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
